DBURI=mongodb+srv://admin:IxWfJpJUbgdLoDPb@furniturecluster.qtrgopo.mongodb.net/hotel?retryWrites=true&w=majority&appName=FurnitureCluster
SESSION_SECRET=myStrongSecret123
JWT_SECRET=abc123

PORT=5000
CLOUDINARY_CLOUD_NAME=rv7i4rcj
CLOUDINARY_API_KEY=165795638471717
CLOUDINARY_API_SECRET=u_FSCcmHABrUC760kBLiRp6daOM
NODE_ENV=development
CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb+srv://admin:IxWfJpJUbgdLoDPb@furniturecluster.qtrgopo.mongodb.net/hotel?retryWrites=true&w=majority&appName=FurnitureCluster

# Email Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=waqaskamboh269@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM="LuxuryStay Hospitality" <waqaskamboh269@gmail.com>